:root{
    
  /* Primary colors*/
  --primary-1: #2b8379;
  --primary-2: #19a596;
  --primary-3: #7fd1c7;
  --primary-4: #7fd1c7;
  --primary-5: #d0f3ef;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;
   /* Accent-blue colors */
   --accent-1: #970e3d;
   --accent-2: #c43464;
   --accent-3: #de7699;
   --accent-4: #e6c3ce;
   --accent-5: #fff2f7;
}
    
    
    /* GENERAL STYLING */
    body{
        background-color: var(--neutral-5);
    }

    *{
        margin:0;
        padding:0;
    }

    .main-container{
        max-width:1440px;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 36px;
    }
    

    /* NAVBAR */
    .navbar{
        padding: 1.5em;
        display:flex;
        box-shadow:  0px 5px 10px 0px gray;
        background-color: var(--neutral-5);
    }

    /* FORMS */
    form{
        margin:1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label{
        font-size: 24px;
        padding-top: 0.5em;
    }

    .input-field{
        font-size: 24px;
        padding: 0.25em;
        margin-bottom: 0.25em;
        min-width: 150px;
        
    }

    .input-button{
        font-size: 24px;
        background-color: var(--accent-1);
        margin-top:0.25em;
        padding:  0.25em;
        border-color: var(--accent-1);
        border-radius: 5px;
        box-shadow: 0px 3px gray;
        color: white;
        width:50%;
    }

    .input-button:active{
        box-shadow: none;
    }

    /* TABLES */
    .table{
        margin: 1em;
        width:100%;
        border-collapse: collapse;
    }

    .table thead {
        background-color: var(--primary-1);
        color: white;
        font-size: 22px;
      }
      
      .table th {
        padding: 15px;
      }

      .table td {
        padding: 15px;
      }

      .table th,td{
        border: 1px solid var(--neutral-2);
        margin:0;
        border-spacing: 0;
      }
      
      .table tbody {
        font-size: 20px;
        text-align: center;
      }